/*#body{
  display: flex;
  background-color: #4a4a4a;
  height: 100%;
  border: 1px solid red;
}

#left-aside{
  border-right: 1px solid #2f2f2f;
}

#main{
  flex: 8;
  display: table-cell;
}

#right-aside{
  border-left: 1px solid #2f2f2f;
}

#body aside{
  display: table-cell;
  flex: 3;
}

#body .empty-space{
  flex: 1;
  background-color: #2f2f2f;
}
*/
