#weather-container{
  color: white;
}

#weather-wrapper{
  border: 1px solid blue;
  display: flex;
  text-align: cetner;
}

#weather-icon-degrees{
}

#weather-icon-degrees img{
  max-width: 70px;
  max-height: 70px;
  border: 1px solid yellow;
}

#weather-icon-degrees div{
  display: table-cell;
  width: 50px;
  border: 1px solid green;
}

#weather-city{

}
