#header-container{
  padding: 0px;
  margin: 0px;
}

#heading{
  display: inline-flex;
  width: 100%;
}

#heading #logo{
  flex: 1;
}

#heading #header-title{
  text-align: center;
  font-size: 40pt;
  flex: 8;
  padding: 20px 0;
  color: grey;
}

#heading #profile-container{
  flex: 1;
}

#navigation-container{
  background-color: #cecece;
  margin-bottom: 1px;
  display: flex;
}

#navigation-container *{
  padding: 0px;
  margin: 0px;
}

#navigation-container nav{
  flex: 2;
}

#navigation-container nav ul{
  list-style: none;
}

#navigation-container nav ul li{
  display: inline-flex;
}

#navigation-container nav ul li a{
  text-decoration: none;
  color: black;
  font-family: Arial;
  padding: 10px 20px;
}

#navigation-container nav ul li a:hover {
  background-color: #ffffff;
}

#navigation-container .header-empty-space{
  flex: 1;
}
