#home-container{
  display: flex;
  background-color: #4a4a4a;
  height: 100%;
}

#left-aside{
  border-right: 1px solid #2f2f2f;
}

#main{
  flex: 8;
  display: table-cell;
  text-align: center;
  padding-top: 50px;
}

#right-aside{
  border-left: 1px solid #2f2f2f;
}

#home-container aside{
  display: table-cell;
  flex: 2;
}

#home-container .empty-space{
  flex: 1;
  background-color: #2f2f2f;
}
